.ki_timesheet table{
	width:100%
}
div.ki_timesheet tr.even th, div.ki_timesheet tr.odd th {
    border-bottom: medium none;
    border-left: medium none;
    border-right: 1px dotted #CCC;
    padding: 3px 4px 4px 5px;
}
div.ki_timesheet tr.odd th {
  border-bottom: medium none;
  border-left: medium none;
  border-right: 1px dotted #CCC;
  padding: 3px 4px 4px 5px;
}

div.ki_timesheet tr.even th {
background: #FFF none repeat scroll 0% 0%;
}
div.ki_timesheet tr.odd th {
    background: #EEE none repeat scroll 0% 0%;
}
